#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23272f;
  color: #f6f7f9;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: currentColor;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.2em solid #53c1de;
}

.bottom-border {
  border-bottom: 0.2em solid #53c1de;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}

.strike {
  position: absolute;
  background-color: #de7053;
}

.strike-row-1 {
  width: 100%;
  height: 7px;
  top: 15%;
}
.strike-row-2 {
  width: 100%;
  height: 7px;
  top: 48%;
}
.strike-row-3 {
  width: 100%;
  height: 7px;
  top: 83%;
}
.strike-column-1 {
  height: 100%;
  width: 7px;
  left: 15%;
}
.strike-column-2 {
  height: 100%;
  width: 7px;
  left: 48%;
}
.strike-column-3 {
  height: 100%;
  width: 7px;
  left: 83%;
}
.strike-diagonal-1 {
  width: 100%;
  height: 9px;
  top: 50%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width: 100%;
  height: 9px;
  top: 47%;
  transform: skewY(135deg);
}

.result {
  text-align: center;
  border: #343a46 none;
  border-style: solid;
  border-radius: 30px;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5em;
  background-color: #343a46;
}

.reset-button {
  width: 100%;
  border: #343a46 none;
  border-radius: 30px;
  padding: 15px;
  margin-top: 40px;
  font-size: 1.5em;
  background-color: #343a46;
  color: #f6f7f9;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #283541;
  color: #53c1de;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.auth-box {
  background-color: #343a46;
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.login,
.signUp {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.login label,
.signUp label {
  font-size: 1.7em;
  margin-bottom: 15px;
}

.login input,
.signUp input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #53c1de;
  background-color: #283541;
  color: #f6f7f9;
  font-size: 1.3em;
}

.login button,
.signUp button {
  padding: 15px 30px;
  border: 1px solid #53c1de;
  border-radius: 8px;
  background-color: #53c1de;
  color: #f6f7f9;
  cursor: pointer;
  font-size: 1.3em;
}

.login button:hover,
.signUp button:hover {
  background-color: #41a4b8;
  border: 1px solid #41a4b8;
}

.joingame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.joingame h4 {
  font-size: 1.7em;
  margin-bottom: 15px;
}

.joingame input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #53c1de;
  background-color: #283541;
  color: #f6f7f9;
  font-size: 1.3em;
  text-align: center;
}

.joingame button {
  padding: 15px 30px;
  border: 1px solid #53c1de;
  border-radius: 8px;
  background-color: #53c1de;
  color: #f6f7f9;
  cursor: pointer;
  font-size: 1.3em;
  margin: 10px 0;
}

.joingame button:hover {
  background-color: #41a4b8;
  border: 1px solid #41a4b8;
}

.leave-button,
.logout-button {
  padding: 15px 30px;
  border: 1px solid #53c1de;
  border-radius: 8px;
  background-color: #53c1de;
  color: #f6f7f9;
  cursor: pointer;
  font-size: 1.3em;
  margin-top: 20px; /* Adjust margin as needed */
}

.leave-button:hover,
.logout-button:hover {
  background-color: #41a4b8;
  border: 1px solid #41a4b8;
}

@media (max-width: 600px) {
  .auth-box,
  .main-container {
    width: 100%;
    max-width: none;
    padding: 20px;
  }

  .login,
  .signUp {
    width: 100%;
    margin-right: 0;
  }
}

.waitroom {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.dot-spin {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #53c1de, 12.727926px -12.727926px 0 0 #53c1de,
    18px 0 0 0 #53c1de, 12.727926px 12.727926px 0 0 rgba(83, 193, 222, 0),
    0 18px 0 0 rgba(83, 193, 222, 0),
    -12.727926px 12.727926px 0 0 rgba(83, 193, 222, 0),
    -18px 0 0 0 rgba(83, 193, 222, 0),
    -12.727926px -12.727926px 0 0 rgba(83, 193, 222, 0);
  animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #53c1de, 12.727926px -12.727926px 0 0 #53c1de,
      18px 0 0 0 #53c1de, 12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0),
      0 18px 0 -5px rgba(83, 193, 222, 0),
      -12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0),
      -18px 0 0 -5px rgba(83, 193, 222, 0),
      -12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(83, 193, 222, 0),
      12.727926px -12.727926px 0 0 #53c1de, 18px 0 0 0 #53c1de,
      12.727926px 12.727926px 0 0 #53c1de, 0 18px 0 -5px rgba(83, 193, 222, 0),
      -12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0),
      -18px 0 0 -5px rgba(83, 193, 222, 0),
      -12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(83, 193, 222, 0),
      12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0), 18px 0 0 0 #53c1de,
      12.727926px 12.727926px 0 0 #53c1de, 0 18px 0 0 #53c1de,
      -12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0),
      -18px 0 0 -5px rgba(83, 193, 222, 0),
      -12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(83, 193, 222, 0),
      12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0),
      18px 0 0 -5px rgba(83, 193, 222, 0), 12.727926px 12.727926px 0 0 #53c1de,
      0 18px 0 0 #53c1de, -12.727926px 12.727926px 0 0 #53c1de,
      -18px 0 0 -5px rgba(83, 193, 222, 0),
      -12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(83, 193, 222, 0),
      12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0),
      18px 0 0 -5px rgba(83, 193, 222, 0),
      12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0), 0 18px 0 0 #53c1de,
      -12.727926px 12.727926px 0 0 #53c1de, -18px 0 0 0 #53c1de,
      -12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(83, 193, 222, 0),
      12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0),
      18px 0 0 -5px rgba(83, 193, 222, 0),
      12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0),
      0 18px 0 -5px rgba(83, 193, 222, 0), -12.727926px 12.727926px 0 0 #53c1de,
      -18px 0 0 0 #53c1de, -12.727926px -12.727926px 0 0 #53c1de;
  }
  75% {
    box-shadow: 0 -18px 0 0 #53c1de,
      12.727926px -12.727926px 0 -5px rgba(83, 193, 222, 0),
      18px 0 0 -5px rgba(83, 193, 222, 0),
      12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0),
      0 18px 0 -5px rgba(83, 193, 222, 0),
      -12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0), -18px 0 0 0 #53c1de,
      -12.727926px -12.727926px 0 0 #53c1de;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #53c1de, 12.727926px -12.727926px 0 0 #53c1de,
      18px 0 0 -5px rgba(83, 193, 222, 0),
      12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0),
      0 18px 0 -5px rgba(83, 193, 222, 0),
      -12.727926px 12.727926px 0 -5px rgba(83, 193, 222, 0),
      -18px 0 0 -5px rgba(83, 193, 222, 0),
      -12.727926px -12.727926px 0 0 #53c1de;
  }
}
